/* || general */

body {
    font-size: 16px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2a2a2a;
}

img {
    width: 100%;
}

h1 {
    font-size: 10em;
    font-family: didot, serif;
    font-weight: 700;
    font-style: normal;

}

h2 {
    font-size: 2.5em;
    font-family: didot, serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 2em;
    text-transform: uppercase;
}

h4 {
    font-size: 1.2em;
}

/* caption */
h5 {
    font-size: 1em;
    padding-bottom: 1em;
}

p {
    padding-bottom: 1em;
    line-height: 1.2em;
    font-size: 1.3em;
}

a {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #000;

}


/* || header nav footer */

header {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.header-menu {
    display: flex;
    justify-content: flex-start;
}

.header-menu li {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 2em;
}

.header-menu a {
    font-family: didot, serif;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
}

footer p {
    font-size: 1em;
    padding-bottom: 0;
}

footer ul {
    display: flex;
}

footer li {
    padding: 1em;
}

.logo {
    width: 100px;
}

.current a {
    color: black;
}

/* || index */
.intro {
    position: sticky;
    margin-top: 100vh;
}

main#home {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background: #fafafa;
}

/* index hero image */
.hero {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -5;
    background: url(../images/shb-02.jpeg);
    background-position: center;
    background-size: cover;
}

.hero p {
    color: #fff;
}

.hero .arrow {
    color: #fff;
}

.index-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-content: center;
}

.index-logo img {
    width: 60%;
    align-self: center;
}

.index-tiles {
    width: 90vw;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.tile {
    width: 15em;
    height: 100%;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 8.5em;
    border-top-right-radius: 8.5em;
    padding: 1em;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.index-plan {
    background: #a9b28b;
}

.index-build {
    background: #a65859;
}

.index-opening {
    background: #859c9e;
}

.index-use {
    background: #8993ad;
}

.tile a {
    padding: 1em;
}

.tile a {
    color: #000;
}

.tile img {
    margin-top: 1em;
    height: 10em;
}

.tile:hover {
    top: -10px;
}

.icon-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.icon-bottom img {
    width: 40%;
}

.centre {
    margin: auto;
}

svg {
    width: 90%;
    height: 90%;
}

/* || content pages */
.intro-hero {
    width: 100%;
    height: 100vh;
    position: sticky;
    background-size: cover;
}

.intro-hero img {
    float: right;
    position: absolute;
}

.intro-head {
    position: absolute;
    top: 60%;
    margin: 20px;
}

.arrow {
    position: absolute;
    width: 100%;
    top: 90%;
}

.arrow h3 {
    text-align: center;
}

.wrapper {
    padding: 3em;
}

.top {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.column-1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}

.tiny {
    width: 33%;
}

.mini {
    width: 66%;
}

.column-2 {
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 2em;
}

.column-02 {
    display: grid;
    grid-template-columns: 1fr 33%;
    gap: 2em;
}

.column-05 {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 2em;
}

.column-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.column-1-2 {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    gap: 2em;
}

.continue {
    display: flex;
    justify-content: flex-end;
    padding-top: 2em;
}

.continue img {
    width: 12em;
    opacity: 0.7;
}

.continue img:hover {
    opacity: 1.0;
}

.dark {
    background: rgb(0, 0, 0, 0.2);
}

.blur {
    backdrop-filter: blur(4px);
    height: 100vh;
}

.end {
    padding-top: 50vh;
}

.last {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

/* || plan */
.plan {
    background-image: url(../images/plan/plan-a.png);
    top: 0;
    z-index: -5;
}

.p,
.plan h3,
.plan h1 {
    color: #677143;
}

.plan-1,
.plan-5 {
    background: #a9b28a;
}

.plan-2 {
    background: #fffffc;
}

.plan-3 {
    background: #677143;
    color: #fffffc;
}

.plan-3 img {
    height: 80%;
}

.plan-4 {
    background: #eaefe0;
}

.button-plan svg>* {
    fill: #677143;
}

.button-plan svg:hover>* {
    fill: #a9b28a;
}

/* || build */
.build {
    background-image: url(../images/build/build-d.png);
    top: 0;
    z-index: -5;
}

.b,
.build {
    color: #701c1c;
}

.build-1,
.build-5 {
    background: #a65859;
    color: #fbf0ef;
}

.build-2,
.build-4 {
    background-color: #f9d7d7;
}

.build-3 {
    background: #701c1c;
    color: #fbf0ef;
}

.build-6,
.build-7 {
    background: #fbf0ef;
}

.button-build svg>* {
    fill: #701c1c;
}

.button-build svg:hover>* {
    fill: #a65859;
}

/* || opening */
.opening {
    background-image: url(../images/opening/open-a.png);
    top: 0;
    z-index: -5;
    text-shadow: 2px 2px 20px #606060;
}

.o,
.opening {
    color: #e2fafe;
}

.opening-1,
.opening-3 {
    background: #8dd5e1;
}

.opening-2,
.opening-4,
.opening-6 {
    background: #e2fafe;
}

.opening-5 {
    background: #5a97a0;
    color: #e2fafe;
}

.opening-2 {
    display: flex;
    justify-content: center;
}

.button-opening svg>* {
    fill: #e2fafe;
}

.button-opening svg:hover>* {
    fill: #8dd5e1;
}

/* || use */
.use {
    background-image: url(../images/use/use-c.png);
    top: 0;
    z-index: -5;
}

.u,
.use {
    color: #e2e7fd;
}

.use-1,
.use-4,
.use-6 {
    background: #e2e7fd;
}

.use-2,
.use-3 {
    background: #f7f8fc;
}

.use-5,
.use-6 {
    background: #576aae;
    color: #e2e7fd;
}

.button-use svg>* {
    fill: #e2e7fd;
}

.button-use svg:hover>* {
    fill: #c4d0ff;
}

/* || about */
.about {
    color: #fff;
    text-shadow: 2px 2px 20px #606060;
}

.about a {
    color: #e2fafe;
}

.about a:hover {
    color: #8dd5e1;
}

.about-hero {
    background-image: url(../images/shb-02.jpeg);
    background-size: cover;
}