/* general */

body {
    font-size: 16px;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2a2a2a;
}

/* this means the image will never stretch to bigger than it is */
img {
    max-width: 100%;
}

/* only for huge numbers on intro hero sections */
h1 {
    font-size: 10em;
    font-family: didot, serif;
    font-weight: 700;
    font-style: normal;

}

h2 {
    font-size: 2.5em;
    font-family: didot, serif;
    font-weight: 700;
    font-style: normal;

}

h3 {
    font-size: 2em;
    text-transform: uppercase;
    /* font-display: bold; */
}

h4 {
    font-size: 1.2em;
}

/* caption */
h5 {
    font-size: 0.8em;
}



a {
    color: #808080;
    text-decoration: none;
}
a:hover {
    color: #000;

}


/* || header nav footer */

header {
    display: flex;
    justify-content: flex-start;
    background-color: #ececec;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

/* header a {
    color: black;
} this is for links inside the header*/

.header-menu {
    display: flex;
    justify-content: flex-start;
}
    .header-menu li {
        padding-top: 1em;
        padding-left: 0.5em;
        font-size: 2em;
    }
        .header-menu a {
            font-family: didot, serif;
        }

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
}

main {
    background-color: #fff;
}

.logo {
    width: 150px;
}

.current a {
    color: black;
}


/* || index */

.intro {
    position: sticky;
    margin-top: 100vh;

}

main#home {
    /* margin-top: 100vh; */
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

/* index hero image */
.hero {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: -5;
    background: url(../images/shb-01.jpg);
    background-size: cover;
}
    .hero p {
        color: #fff;
    }
.index-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-content: center;
}
.index-logo img {
    width: 60%;
    align-self: center;
}
.index-tiles {
    width: 90vw;
    /* border: 2px solid #000; */
    padding: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
} 

.tile {
    width: 15em;
    height: 100%;
    /* make images the same height */
    background: #dfdfdf;
    /* padding: 1em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 8.5em;
    border-top-right-radius: 8.5em;
    padding: 1em;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
}
.tile a {
    padding: 1em;
}
.tile img {
    /* width: 100%; */
    margin-top: 1em;
    height: 10em;
}
.tile:hover {
    top: -10px;
}

.icon-bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.icon-bottom img {
    width: 40%;
    /* justify-self: center; */
}








/* || content pages */
.intro-hero {
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* position: fixed; */
    /* z-index: -10; */
    /* background-image: url(../images/bridgeiconhalf.png);
    float: right; */
    /* background-size: cover; */
}
    .intro-hero img {
        float: right;
        position: relative;
    }

.intro-head {
    position: absolute;
    top: 60%;
    margin: 20px;
}

/* || plan */
.plan-1 {
    background: olive;
    /* margin-top: 100vh; */
}
    .plan-1 img {
        width: 40%;
    }
.plan-2 {
    background: #fff;
}
    .plan-2 img {
        width: 70vw;
    }

/* .plan-3 {
    display: flex;
    justify-content: ;

} */
    .plan-3 img {
        width: 20%;
    }

/* || build */
.build-1 {

}


/* || opening */
.opening-1 {

}

/* || use */







/* vh is view height so 100 is the full view height of your browser */



/* use flex box or grid to put the logo in the centre of the homepage background image */



/* .. go back up the directory tree */

/* h1 a{ 
put a space after h1 and then a to only apply css to links inside h1s
} */

/* you can put elements together and make css apply to them all by listing with , in between */




/* .tile {
    width: 70ch;
    border: 2px solid #000;
    padding: 40px (this is inside the border)
    margin: 20px (this is outside the border)
} 
this will make it so everything inside the tile is in a container of 70 characters wide with a black border
*/

    /* .tile p {
        line-height: 1.3em;
        padding-bottom: 1em;
    } */


    /* grid-template-columns: 1fr 1fr 1fr; 
    check this in the modules*/
